.main-header{
    background-color: white;
    position: fixed;
    width: 1500px;
    height: 50px;
    justify-content: left;
    align-items:center;
    color: black;
    font-size: 28px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -50px;
    z-index: 3;
  
  }
  
  .main-p-header{
    background-color: white;
    position: fixed;
    margin-top: 16px;
    margin-left: 10px;
  }