<div class="container1">
    <div class="right-section">
        
      <h1>LOGO</h1>
      <div class="toCenter">
        <div class="textt">
          
          <h3 class="tit">Dear Student,</h3>
          <p>Embark on a journey at MyUni,
            Where learning knows no bounds,
            Each step unlocks new horizons,
            Explore, discover, and thrive!"</p>
      </div>

        <div class="container">
          <div class="login-form">
                <div class="input_container2">
                  <div class="a1">
                    <label for="">City</label>
                    <input id="email_field" class="input_field2" type="text" name="input-name" title="Inpit title" placeholder="City">
                  </div>
                  <div class="a1">
                    <label for="">Address</label>
                    <input id="email_field" class="input_field2" type="text" name="input-name" title="Inpit title" placeholder="Address">
                  </div>
                </div>

                <div class="input_container2">
                  <div class="a1">
                    <label for="" class="label1">Postal Code</label>
                    <input id="email_field" class="input_field2" type="text" name="input-name" title="Inpit title" placeholder="Postal code">
                  </div>
                  <div class="a1">
                    <label for="">Phone Number </label>
                    <input id="email_field" class="input_field2" type="tel" name="input-name" title="Inpit title" placeholder="(+216) 00 000 000">
                  </div>
                </div>

                <div class="input_container2">
                  <div class="a2">
                    <label for="" class="label1">Birth Date</label>
                    <input id="email_field" class="input_field2" type="date" name="input-name" title="Inpit title" placeholder="Pick a date">  
                  </div>
                  <div class="a2">
                    <label for="" class="label1">Gender</label>
                    <form>
                      <select id="gender_select" name="gender_select" class="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="others">Others</option>
                      </select>
                    </form> 
                  </div>
                  <div class="a1">
                    <label for="">Status</label>
                    <input id="email_field" class="input_field2" type="text" name="input-name" title="Inpit title" placeholder="Status">
                  </div>
                </div>

            <button class="sign-in_btn" type="submit" title="Sign Up">
              <span>Confirm Creation</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <img src="assets/2.jpeg" alt="My Image" class="img1">
      <img src="assets/1.jpeg" alt="My Image" class="img2">
    </div>
  </div>
  
  
  