<app-navbar></app-navbar>
<app-menu></app-menu>
<div class="mid-content">
    <div class="header">
      <p class="p-header">Account</p>
    </div>
  
    <div class="Card-conatiner">

      <div class="containerx">
        <div class="login-form">
          <p>Details</p>
          <div class="input_container2">
            <div class="a1">
              <label for="">City</label>
              <input id="email_field" class="input_field2" type="text" name="input-name" title="Inpit title" placeholder="City">
            </div>
            <div class="a1">
              <label for="">Address</label>
              <input id="email_field" class="input_field2" type="text" name="input-name" title="Inpit title" placeholder="Address">
            </div>
          </div>
      
          <div class="input_container2">
            <div class="a1">
              <label for="" class="label1">Postal Code</label>
              <input id="email_field" class="input_field2" type="text" name="input-name" title="Inpit title" placeholder="Postal code">
            </div>
            <div class="a1">
              <label for="">Phone Number </label>
              <input id="email_field" class="input_field2" type="tel" name="input-name" title="Inpit title" placeholder="(+216) 00 000 000">
            </div>
          </div>
      
          <div class="input_container2">
            <div class="a2">
              <label for="" class="label1">Birth Date</label>
              <input id="email_field" class="input_field2" type="date" name="input-name" title="Inpit title" placeholder="Pick a date">  
            </div>
            <div class="a2">
              <label for="" class="label1">Gender</label>
                <form>
                            <select id="gender_select" name="gender_select" class="gender" title="Gender">
                              <option value="male">Male</option>
                              <option value="female">Female</option>
                              <option value="others">Others</option>
                            </select>
                </form> 
            </div>
            <div class="a1">
                          <label for="">Status</label>
                          <input id="email_field" class="input_field2" type="text" name="input-name" title="Inpit title" placeholder="Status">
            </div>
          </div>
      
          <button class="sign-in_btn" type="submit" title="Sign Up">
                    <span>Confirm Creation</span>
          </button>
        </div>
      </div>

    </div>


  <form class="file-upload-form">
    <label for="file" class="file-upload-label">
      <div class="file-upload-design">
        <svg viewBox="0 0 640 512" height="1em">
          <path
            d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V392c0 13.3 10.7 24 24 24s24-10.7 24-24V257.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z"
          ></path>
        </svg>
          <p>Drag and Drop</p>
          <p>or</p>
            <span class="browse-button">Browse file</span>
      </div>
      <input id="file" type="file" />
    </label>
  </form>
</div>
  
  
  
  
